{% extends "_layouts/auth.njk" %} {% block body %}
<form action="/signup" method="POST" enctype="multipart/form-data">
  <label for="avatar">
    <img src="/images/avatar.svg" height="24" alt="" />
  </label>
  <input type="file" name="avatar" id="avatar" />

  <input type="text" name="name" id="name" placeholder="Name" />
  <input type="email" name="email" id="email" placeholder="Email" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <label for="provider">
    <input type="checkbox" name="provider" value="1" id="provider" />
    I'm Barber
  </label>

  <button type="submit">Create Account</button>

  <a href="/">Back</a>
</form>
<script type="text/javascript">
  let inputImage = document.getElementById("avatar");
  let img = document.querySelector("label[for=avatar] img");

  inputImage.onchange = e => {
    img.classList.add("preview");
    img.src = URL.createObjectURL(e.target.files[0]);
  };
</script>

{% endblock %}
